USE [master]
GO
/****** Object:  Database [dbFeriaLibro]    Script Date: 11/12/2018 16:37:49 ******/
CREATE DATABASE [dbFeriaLibro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbFeriaLibro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbFeriaLibro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbFeriaLibro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbFeriaLibro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFeriaLibro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFeriaLibro]
GO
USE [dbFeriaLibro]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 11/12/2018 16:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[salaID] [int] IDENTITY(1,1) NOT NULL,
	[salaLibreria] [int] NOT NULL,
	[salaNombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[salaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 11/12/2018 16:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[materiaID] [int] IDENTITY(1,1) NOT NULL,
	[materiaNombre] [varchar](75) NOT NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[materiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libreria]    Script Date: 11/12/2018 16:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libreria](
	[libreriaID] [int] IDENTITY(1,1) NOT NULL,
	[libreriaNombre] [varchar](100) NOT NULL,
	[libreriaRUC] [char](13) NOT NULL,
	[libreriaDireccion] [varchar](250) NOT NULL,
	[libreriaTelefono] [char](8) NOT NULL,
 CONSTRAINT [PK_Libreria] PRIMARY KEY CLUSTERED 
(
	[libreriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroSala]    Script Date: 11/12/2018 16:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroSala](
	[salaID] [int] NOT NULL,
	[libroID] [int] NOT NULL,
	[cantidadLibroSala] [int] NOT NULL,
	[precioLibroSala] [decimal](18, 2) NOT NULL,
	[estadoLibroSala] [bit] NOT NULL,
 CONSTRAINT [PK_LibroSala] PRIMARY KEY CLUSTERED 
(
	[salaID] ASC,
	[libroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 11/12/2018 16:37:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[libroID] [int] IDENTITY(1,1) NOT NULL,
	[libroMateria] [int] NOT NULL,
	[libroNombre] [varchar](100) NOT NULL,
	[libroAutor] [varchar](75) NOT NULL,
	[libroISBN] [varchar](13) NOT NULL,
	[libroIVA] [bit] NULL,
	[libroSinopsis] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[libroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Listar_Libros_Materia_Sala_Libreria]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Listar_Libros_Materia_Sala_Libreria] AS
SELECT 
	Lbr.libroID,
	Lbr.libroNombre,
	Lbr.libroAutor,
	Lbr.libroISBN,
	Lbr.libroSinopsis,
	Mtr.materiaID,
	Mtr.materiaNombre,
	Sla.salaID,
	Sla.salaNombre,
	Lbi.libreriaID,
	Lbi.libreriaNombre,
	LbSl.cantidadLibroSala,
	LbSl.precioLibroSala,
	LbSl.estadoLibroSala
FROM LibroSala LbSl
INNER JOIN Libro Lbr ON Lbr.libroID = LbSl.libroID
INNER JOIN Materia Mtr ON Mtr.materiaID = Lbr.libroMateria
INNER JOIN Sala Sla ON Sla.salaID = LbSl.salaID
INNER JOIN Libreria Lbi ON Sla.salaLibreria = Lbi.libreriaID 
GO
/****** Object:  View [dbo].[View_Listar_Libros_Materia]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Listar_Libros_Materia] AS
SELECT 
	Lbr.libroID,
	Lbr.libroNombre,
	Lbr.libroAutor,
	Lbr.libroISBN,
	Lbr.libroSinopsis,
	Lbr.libroIVA,
	Mtr.materiaID,
	Mtr.materiaNombre
FROM Libro Lbr
INNER JOIN Materia Mtr ON Mtr.materiaID = Lbr.libroNombre
GO
/****** Object:  View [dbo].[View_Listar_Libros_Sala]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Listar_Libros_Sala] AS
SELECT 
	LbSl.cantidadLibroSala,
	LbSl.precioLibroSala,
	LbSl.estadoLibroSala,
	Sla.salaID,
	Sla.salaNombre,
	Lbr.libroID,
	Lbr.libroAutor,
	Lbr.libroISBN,
	Lbr.libroSinopsis,
	Lbr.libroNombre
FROM LibroSala LbSl
INNER JOIN Sala Sla ON Sla.salaID = LbSl.salaID
INNER JOIN Libro Lbr ON Lbr.libroID = LbSl.libroID
GO
/****** Object:  View [dbo].[View_Listar_Sala_Libreria]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Listar_Sala_Libreria] AS
SELECT 
	Sla.salaID,
	Sla.salaNombre,
	Lbi.libreriaID,
	Lbi.libreriaNombre,
	Lbi.libreriaRUC,
	Lbi.libreriaTelefono,
	Lbi.libreriaDireccion
FROM Sala Sla
INNER JOIN Libreria Lbi ON Sla.salaLibreria = Lbi.libreriaID 
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[clienteID] [int] NOT NULL,
	[clienteCodigo] [int] NULL,
	[clienteCI_RUC] [varchar](13) NOT NULL,
	[clienteNombre] [varchar](25) NOT NULL,
	[clienteApellido] [varchar](25) NULL,
	[clienteCorreo] [varchar](75) NOT NULL,
	[clienteTelefono] [nchar](10) NULL,
	[clienteFechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[clienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[estadopedidoID] [int] IDENTITY(1,1) NOT NULL,
	[estadopedidoNombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoPedido] PRIMARY KEY CLUSTERED 
(
	[estadopedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[pedidoID] [int] IDENTITY(1,1) NOT NULL,
	[salaID] [int] NOT NULL,
	[libroID] [int] NOT NULL,
	[clienteID] [int] NULL,
	[vendedorID] [nvarchar](128) NOT NULL,
	[estadopedidoID] [int] NOT NULL,
	[cantidadPedido] [int] NOT NULL,
	[subTotalPedido] [decimal](18, 2) NOT NULL,
	[ivaPedido] [decimal](18, 2) NOT NULL,
	[totalPedido] [decimal](18, 2) NOT NULL,
	[fechaInicioPedido] [datetime] NOT NULL,
	[fechaFinPedido] [datetime] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[pedidoID] ASC,
	[salaID] ASC,
	[libroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 11/12/2018 16:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[vendedorID] [int] IDENTITY(100,1) NOT NULL,
	[aspUserID] [nvarchar](128) NOT NULL,
	[vendedorNombre] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Vendedor_1] PRIMARY KEY CLUSTERED 
(
	[aspUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([clienteID], [clienteCodigo], [clienteCI_RUC], [clienteNombre], [clienteApellido], [clienteCorreo], [clienteTelefono], [clienteFechaRegistro]) VALUES (1, 1, N'1715737118', N'Juan', N'Viana', N'juan.viana@udla.edu.ec', N'0967790159', NULL)
INSERT [dbo].[Cliente] ([clienteID], [clienteCodigo], [clienteCI_RUC], [clienteNombre], [clienteApellido], [clienteCorreo], [clienteTelefono], [clienteFechaRegistro]) VALUES (2, 2, N'1714025333', N'Andres', N'Barrero', N'aviana.facturas@gmial.com', N'0999655671', NULL)
SET IDENTITY_INSERT [dbo].[Libreria] ON 

INSERT [dbo].[Libreria] ([libreriaID], [libreriaNombre], [libreriaRUC], [libreriaDireccion], [libreriaTelefono]) VALUES (2, N'Nuevo Mundo', N'1714040843001', N'Hernandez de Giron y Pedregal', N'23331470')
INSERT [dbo].[Libreria] ([libreriaID], [libreriaNombre], [libreriaRUC], [libreriaDireccion], [libreriaTelefono]) VALUES (3, N'Libreria Española', N'1750291784001', N'Replúbica del Salvador y Portugal', N'23330557')
INSERT [dbo].[Libreria] ([libreriaID], [libreriaNombre], [libreriaRUC], [libreriaDireccion], [libreriaTelefono]) VALUES (4, N'Nuevo Oriente', N'1714025333001', N'Marina de Jesús y 10 de Agosto', N'23331470')
SET IDENTITY_INSERT [dbo].[Libreria] OFF
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([materiaID], [materiaNombre]) VALUES (1, N'Inglés')
INSERT [dbo].[Materia] ([materiaID], [materiaNombre]) VALUES (3, N'Ciencias Aplicadas')
INSERT [dbo].[Materia] ([materiaID], [materiaNombre]) VALUES (4, N'Matemáticas')
SET IDENTITY_INSERT [dbo].[Materia] OFF
SET IDENTITY_INSERT [dbo].[Sala] ON 

INSERT [dbo].[Sala] ([salaID], [salaLibreria], [salaNombre]) VALUES (1, 4, N'Oriente')
INSERT [dbo].[Sala] ([salaID], [salaLibreria], [salaNombre]) VALUES (2, 2, N'Modernidad en Persona')
INSERT [dbo].[Sala] ([salaID], [salaLibreria], [salaNombre]) VALUES (3, 3, N'Clasicos')
SET IDENTITY_INSERT [dbo].[Sala] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/12/2018 16:37:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2018 16:37:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2018 16:37:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/12/2018 16:37:50 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2018 16:37:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/12/2018 16:37:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_ClienteCI_RUC]    Script Date: 11/12/2018 16:37:50 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [AK_ClienteCI_RUC] UNIQUE NONCLUSTERED 
(
	[clienteCI_RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libro] ADD  CONSTRAINT [DF_Libro_libroIVA]  DEFAULT ((1)) FOR [libroIVA]
GO
ALTER TABLE [dbo].[LibroSala] ADD  CONSTRAINT [DF_LibroSala_cantidadLibroSala]  DEFAULT ((0)) FOR [cantidadLibroSala]
GO
ALTER TABLE [dbo].[LibroSala] ADD  CONSTRAINT [DF_LibroSala_precioLibroSala]  DEFAULT ((0.00)) FOR [precioLibroSala]
GO
ALTER TABLE [dbo].[LibroSala] ADD  CONSTRAINT [DF_LibroSala_estadoLibroSala]  DEFAULT ((1)) FOR [estadoLibroSala]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Materia] FOREIGN KEY([libroMateria])
REFERENCES [dbo].[Materia] ([materiaID])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Materia]
GO
ALTER TABLE [dbo].[LibroSala]  WITH CHECK ADD  CONSTRAINT [FK_LibroSala_Libro] FOREIGN KEY([libroID])
REFERENCES [dbo].[Libro] ([libroID])
GO
ALTER TABLE [dbo].[LibroSala] CHECK CONSTRAINT [FK_LibroSala_Libro]
GO
ALTER TABLE [dbo].[LibroSala]  WITH CHECK ADD  CONSTRAINT [FK_LibroSala_Sala] FOREIGN KEY([salaID])
REFERENCES [dbo].[Sala] ([salaID])
GO
ALTER TABLE [dbo].[LibroSala] CHECK CONSTRAINT [FK_LibroSala_Sala]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([clienteID])
REFERENCES [dbo].[Cliente] ([clienteID])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_EstadoPedido] FOREIGN KEY([estadopedidoID])
REFERENCES [dbo].[EstadoPedido] ([estadopedidoID])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_EstadoPedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_LibroSala] FOREIGN KEY([salaID], [libroID])
REFERENCES [dbo].[LibroSala] ([salaID], [libroID])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_LibroSala]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Vendedor] FOREIGN KEY([vendedorID])
REFERENCES [dbo].[Vendedor] ([aspUserID])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Vendedor]
GO
ALTER TABLE [dbo].[Sala]  WITH CHECK ADD  CONSTRAINT [FK_Sala_Libreria] FOREIGN KEY([salaLibreria])
REFERENCES [dbo].[Libreria] ([libreriaID])
GO
ALTER TABLE [dbo].[Sala] CHECK CONSTRAINT [FK_Sala_Libreria]
GO
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD  CONSTRAINT [FK_Vendedor_AspNetUsers] FOREIGN KEY([aspUserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Vendedor] CHECK CONSTRAINT [FK_Vendedor_AspNetUsers]
GO
USE [master]
GO
