@model slnLibreria.Models.Materia

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materia</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.materiaID)
        </dd>
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materiaNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.materiaID }, new { @class = "btn btn-outline-success m-1" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-dark m-1" })
</p>
