@model IEnumerable<slnLibreria.Models.VDia>

@{
    ViewBag.Title = "Reporte5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte5</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
               Dia de la compra
            </th>
            <th>
                Total de pedidos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicioPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPedido)
                </td>

            </tr>
        }

    </tbody>
</table>