
@{
    ViewBag.Title = "Reportes";
}

<h2>Reportes</h2>

<div class="container">
    <h2>Selecciome el rito de reporte</h2>

    <form>
        <div class="form-group">
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <br>
            <a href="#" class="btn btn-success" role="button">Buscar</a>
        </div>
        
    </form>
</div>


