
@{
    ViewBag.Title = "Salas";
}

<h2>Salas</h2>

<div class="row">
    <div class="col-sm-3">
        <a role="button" class="btn" href="@Url.Action("verSala", "Home")">
            <div class="jumbotron">
                <h4>Sala: AAAAA</h4>
                <h4>Materias:</h4>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
            </div>
        </a>         
    </div>
    <div class="col-sm-3">
        <a role="button" class="btn"href="@Url.Action("verSala", "Home")">
            <div class="jumbotron">
                <h4>Sala: AAAAA</h4>
                <h4>Materias:</h4>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a role="button" class="btn"href="@Url.Action("verSala", "Home")">
            <div class="jumbotron">
                <h4>Sala: AAAAA</h4>
                <h4>Materias:</h4>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a role="button" class="btn"href="@Url.Action("verSala", "Home")">
            <div class="jumbotron">
                <h4>Sala: AAAAA</h4>
                <h4>Materias:</h4>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
                <h5>AAAAA</h5>
            </div>
        </a>
    </div>
</div>

<p><a href="#" class="btn btn-success" role="button">Crear nueva sala</a></p>
