
@{
    ViewBag.Title = "Verificar";
}
<div class="row">
    <div class="col-sm-4">
        <h2>Verificar</h2>
        <div class="form-group">
            <label for="cedula">Cédula del cliente:</label>
            <input type="text" class="form-control" id="cedula">
        </div>
        <p><button type="button" class="btn btn-success">Verificar</button></p>
        <label for="cedula">Número de identificación:</label>
        <div class="well">######</div>
    </div>

</div>

