
@{
    ViewBag.Title = "verLibro";
}

<h2>*Nombre del libro*</h2>

<h4>Autor: </h4>
<h4>Editorial: asdasd</h4>
<h4>Sinopsis: asdasd</h4>
<h4>Materia: asdasd</h4>
<h4>Sala: asdasd</h4>
<h4>Copias disponibles: asdasd</h4>
<h4>precio: asdasd</h4>

<p><button type="button" class="btn btn-warning">Apartar libro</button></p>

<button type="button" class="btn btn-info">Editar libro</button>
<button type="button" class="btn btn-danger">Eliminar libro</button>



